[submodule "backend/challenge01"]
	path = backend/challenge01
	url = git@github.com:vinifraga/GS11C01.git
[submodule "frontend/challenge02"]
	path = frontend/challenge02
	url = git@github.com:vinifraga/GS11C02.git
