[submodule "backend/challenge01"]
	path = backend/challenge01
	url = git@github.com:vinifraga/GS11C01.git
[submodule "frontend/challenge02"]
	path = frontend/challenge02
	url = git@github.com:vinifraga/GS11C02.git
[submodule "mobile/challenge03"]
	path = mobile/challenge03
	url = git@github.com:vinifraga/GS11C03.git
[submodule "backend/challenge05"]
	path = backend/challenge05
	url = git@github.com:vinifraga/GS11C05.git
[submodule "backend/challenge06"]
	path = backend/challenge06
	url = git@github.com:vinifraga/GS11C06.git
